.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(225, 225, 225);
    margin-top: var(--padding);
    padding: var(--padding);
    gap: var(--gap);
}

.btn-add-tarea{
    background-color: var(--back-negro);
    color: var(--letra-blanca);
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    font-size: 40px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.btn-add-tarea:hover{
    box-shadow: 5px 5px 10px 0px rgba(150,150,150,1);
}